# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries for Data Science.
+ Create a table of Data Science Tools.
+ Evaluate arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciKit-learn
4. Matplotlib
5. Seaborn
6. Keras
7. TensorFlow

| Data Science Tools |
| ------------------ |
| Apache Cassandra |
| Apache Kafka |
| Apache Superset |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vaidikkumar Lathiya